# IDE-specific
.idea/
.vscode/
*.bak

# CMake files
CMakeLists.txt
cmake-build-debug/

# Compiled files
*.i
*.s

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Temporary files
*~
*.bak

# Quartus files
db/

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Unit tests
.pytest_cache/