# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Temporary files
*~
*.bak

# Quartus files
db/
incremental_db/
output_files/
*.qws

# Python environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Unit tests
.pytest_cache/
sim_build/

# ModelSim
*.mti
*.dat
*.dbs
*.psm
*.bak
*.cmp
*.jpg
*.html
*.bsf
wlf*
*.wlf
*.vstf
*.ucdb
cov*/
transcript*
sc_dpiheader.h
vsim.dbg
modelsim.ini
